<div class="backdrop is-hidden" id="animal-modal">
    <div class="modal">

        
        <button class="modal-close" type="button"></button>

        <div class="modal-left">
            <img class="animal-img" src="" alt="Animal photo" />
        </div>

        
        <div class="modal-right">

            <span class="animal-type"></span>
            <h2 class="animal-name"></h2>

            <p class="animal-meta"></p>

            

            <div class="animal-description"></div>

            <div class="animal-health"></div>
            <div class="animal-behavior"></div>

        <button class="btn-adopt">Взяти додому</button>

        </div>
    </div>
</div>