<header class="header">
  <div class="header_container">
    <a href="./index.html" class="logo" aria-label="Хатинка Лапок">
      <svg class="logo_icon" width="112" height="48">
        <use href="./img/icons.svg#icon-company-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="#pets">Знайди друга</a>
        </li>
        <li class="nav_item">
          <a href="#about">Про нас</a>
        </li>
        <li class="nav_item">
          <a href="#faq">Часті запитання</a>
        </li>
        <li class="nav_item">
          <a href="#success">Історії успіху</a>
        </li>
      </ul>
    </nav>

    <a href="#pets" class="header_button">Взяти друга</a>

    <button class="burger" type="button" aria-label="Відкрити меню">
      <svg class="burger_icon" width="32" height="32">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile_menu">
  <div class="mobile_menu_header">
    <a href="./index.html" class="logo" aria-label="Хатинка Лапок">
      <svg class="logo_icon" width="112" height="48">
        <use href="./img/icons.svg#icon-company-logo"></use>
      </svg>
    </a>

    <button class="mobile_menu_close" type="button" aria-label="Закрити меню">
      <svg class="mobile_menu_close_icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile_nav">
    <ul class="mobile_nav_list">
      <li class="mobile_nav_item">
        <a href="#pets">Знайди друга</a>
      </li>
      <li class="mobile_nav_item">
        <a href="#about">Про нас</a>
      </li>
      <li class="mobile_nav_item">
        <a href="#faq">Часті запитання</a>
      </li>
      <li class="mobile_nav_item">
        <a href="#success">Історії успіху</a>
      </li>
    </ul>
  </nav>

  <a href="#pets" class="mobile_menu_button">Взяти друга</a>
</div>
