<header class="header">
  <div class="header_container">
    <a href="./index.html" class="logo" aria-label="Хатинка Лапок">
      <svg class="logo_icon" width="112" height="48">
        <use href="./img/icons.svg#icon-company-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="#pets">Знайди друга</a>
        </li>
        <li class="nav_item">
          <a href="#about">Про нас</a>
        </li>
        <li class="nav_item">
          <a href="#faq">Часті запитання</a>
        </li>
        <li class="nav_item">
          <a href="#success">Історії успіху</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="header_button">Взяти друга</a>

    <button class="burger" type="button" aria-label="Відкрити меню">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
