<div class="order-modal-backdrop">
  <div class="order-modal">
    <div class="close-btn-container">
      <button type="button" class="close-btn">
        <svg class="close-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <h2 class="modal-title">Залишіть заявку на знайомство</h2>

    <form>
      <label for="name">
        <span class="label-text">Ім&apos;я&#42;</span>

        <input
          class="input"
          type="text"
          name="name"
          id="name"
          placeholder="Андрій"
        />
      </label>
      <label for="tel">
        <span class="label-text">Телефон&#42;</span>
        <input
          class="input"
          type="tel"
          name="tel"
          id="tel"
          placeholder="380955559922"
        />
      </label>
      <label for="comment">
        <span class="label-text">Коментар</span>
        <textarea
          class="textarea"
          name="comment"
          id="comment"
          placeholder="Напишіть ваш коментар"
        ></textarea>
      </label>

      <div class="submit-btn-container">
        <button type="submit" class="submit-btn">Надіслати</button>
      </div>
    </form>
  </div>
</div>
