<div class="container">
  <div class="backdrop">
    <div class="modal">
      <div class="close-btn-container">
        <button type="button" class="close-btn">X</button>
      </div>

      <h2 class="modal-title">Залишіть заявку на знайомство</h2>

      <form>
        <label class="label" for="name">
          <p class="label-text">Ім&apos;я&#42;</p>
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            placeholder="Андрій"
            required
          />
        </label>
        <label class="label" for="tel">
          <p class="label-text">Телефон&#42;</p>
          <input
            class="input"
            type="tel"
            name="tel"
            id="tel"
            placeholder="380955559922"
            required
          />
        </label>
        <label class="label" for="comment">
          <p class="label-text">Коментар</p>
          <textarea
            class="textarea"
            name="comment"
            id="comment"
            placeholder="Напишіть ваш коментар"
          ></textarea>
        </label>

        <div class="submit-btn-container">
          <button type="submit" class="submit-btn"><p>Надіслати</p></button>
        </div>
      </form>
    </div>
  </div>
</div>
