<section class="pets-section" id="pets">
  <div class="container">
    <h2 class="pets-title">Наші хвостики</h2>

    <p class="pets-subtitle">Вони дуже чекають на знайомство з вами</p>

    <div class="categories" id="categories">
      <ul class="categories-list"></ul>
    </div>

    <ul class="pets-list" id="pets-list"></ul>
    <div class="loader" id="pets-loader"></div>
    <button class="load-more-btn" id="load-more-btn" type="button">
      Показати більше
    </button>
    <div class="pets-pagination hidden" id="pets-pagination">
      <button
        class="pets-pagination-arrow"
        id="pets-prev-btn"
        type="button"
        aria-label="Попередня сторінка"
      >
        <svg width="24" height="24">
          <use href="./img/icons.svg#icon-arrow_back"></use>
        </svg>
      </button>

      <ul class="pets-pagination-list" id="pets-pagination-list"></ul>

      <button
        class="pets-pagination-arrow"
        id="pets-next-btn"
        type="button"
        aria-label="Наступна сторінка"
      >
        <svg width="24" height="24">
          <use href="./img/icons.svg#icon-arrow_forward"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
