<section class="pets-section" id="pets">
  <div class="container">
    <h2 class="pets-title">Наші хвостики</h2>

    <p class="pets-subtitle">Вони дуже чекають на знайомство з вами</p>

    <div class="categories" id="categories">
      <ul class="categories-list"></ul>
    </div>

    <ul class="pets-list" id="pets-list"></ul>
    <div class="loader" id="pets-loader"></div>
    <button class="load-more-btn" id="load-more-btn" type="button">
      Показати більше
    </button>
  </div>
</section>
