<section>
    <div>
        <h2>Щасливі історії, що надихають</h2>
        <p>Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
        <ul>
            <li>
                <div>★★★★☆</div>
                <p>Ми довго вагалися, чи готові до собаки, але коли побачили на сайті Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не
                уявляємо ранків без його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у наш дім стільки сміху та
                любові! Дякуємо „Хатинці лапок“ за нашого найкращого друга.</p>
                <p>Марина та Сергій</p>
            </li>
            <li>
                <div>★★★★★</div>
                <p>Я завжди хотіла взяти котика, але боялася, що доросла тварина не зможе звикнути. Волонтери переконали мене дати шанс
                Алісі, і це було найкраще рішення! Її муркотіння — найкращий антистрес після робочого дня. Не бійтеся брати дорослих
                хвостиків, вони віддячать вам безмежною любов'ю!</p>
                <p>Олена</p>
            </li>
        </ul>
        <button>←</button>
        <button>→</button>
    </div>
</section>