<section  class="success-stories" id="success-stories">
    <div class="success-stories-container container">
        <div class="success-stories-title-wrapper">
            <h2 class="success-stories-title">Щасливі історії, що надихають</h2>
            <p class="success-stories-text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
        </div>
        <div class="success-stories-swiper swiper">
            <ul class="success-stories-list swiper-wrapper">
                <li class="success-stories-review-card swiper-slide">
                    <div class="success-stories-review-stars">
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </div>
                    <p class="success-stories-review-text">Ми довго вагалися, чи готові до собаки, але коли побачили на сайті Хатинки фото
                        Арчі, зрозуміли — це наш. Тепер ми не
                        уявляємо ранків без його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у наш дім стільки сміху та
                        любові! Дякуємо „Хатинці лапок“ за нашого найкращого друга.</p>
                    <p class="success-stories-review-author">Марина та Сергій</p>
                </li>
                <li class="success-stories-review-card swiper-slide">
                    <div class="success-stories-review-stars">
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </div>
                    <p class="success-stories-review-text">Я завжди хотіла взяти котика, але боялася, що доросла тварина не зможе звикнути. Волонтери переконали мене дати шанс
                    Алісі, і це було найкраще рішення! Її муркотіння — найкращий антистрес після робочого дня. Не бійтеся брати дорослих
                    хвостиків, вони віддячать вам безмежною любов'ю!</p>
                    <p class="success-stories-review-author">Олена</p>
                </li>
            </ul>
        </div>
        <div class="success-stories-navigation">
            <div class="success-stories-pagination swiper-pagination"></div>
            
            <div class="success-stories-buttons">
                <button class="success-stories-button success-stories-button-prev" type="button" aria-label="Попередній відгук">
                    <svg class="success-stories-arrow success-stories-arrow-prev" width="24" height="24">
                        <use href="../img/icons.svg#icon-arrow_back"></use>
                    </svg>
                </button>
                <button class="success-stories-button success-stories-button-next" type="button" aria-label="Наступний відгук">
                    <svg class="success-stories-arrow success-stories-arrow-next" width="24" height="24">
                        <use href="../img/icons.svg#icon-arrow_forward"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>