<section  class="success-stories section" id="success-stories">
    <div class="container">
        <h2 class="success-stories-title">Щасливі історії, що надихають</h2>
        <p class="success-stories-text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
        <div>
            <ul class="success-stories-list">
                <li class="success-stories-review-card swiper-slide">
                    <div class="success-stories-review-stars" aria-label="Оцінка 4 з 5">
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </div>
                    <p class="success-stories-review-text">Ми довго вагалися, чи готові до собаки, але коли побачили на сайті Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не
                    уявляємо ранків без його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у наш дім стільки сміху та
                    любові! Дякуємо „Хатинці лапок“ за нашого найкращого друга.</p>
                    <p class="success-stories-review-author">Марина та Сергій</p>
                </li>
                <li class="success-stories-review-card swiper-slide">
                    <div class="success-stories-review-stars" aria-label="Оцінка 5 з 5">
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                        <svg class="success-stories-review-stars-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </div>
                    <p class="success-stories-review-text">Я завжди хотіла взяти котика, але боялася, що доросла тварина не зможе звикнути. Волонтери переконали мене дати шанс
                    Алісі, і це було найкраще рішення! Її муркотіння — найкращий антистрес після робочого дня. Не бійтеся брати дорослих
                    хвостиків, вони віддячать вам безмежною любов'ю!</p>
                    <p class="success-stories-review-author">Олена</p>
                </li>
            </ul>
            <button class="success-stories-btn"
                    type="button"
                    aria-label="Попередній відгук">
                    <svg class="success-stories-btn-icon" width="24" height="24">
                        <use href="../img/icons.svg#icon-arrow_back"></use>
                    </svg>
            </button>
            <button class="success-stories-btn" 
                    type="button"
                    aria-label="Наступний відгук">
                    <svg class="success-stories-btn-icon" width="24" height="24">
                        <use href="../img/icons.svg#icon-arrow_forward"></use>
                    </svg>
            </button>
            <div class="success-stories-pagination swiper-pagination"></div>
        </div>
    </div>
</section>