.about-us {
  padding: 64px 0;
}

.about-us-container {
  position: relative;
}

.about-us-title {
  text-align: center;
  padding-bottom: 40px;
}

.slide-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  color: #f6f4f1;
  text-align: left;

  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-pagination {
  display: flex;
  margin-left: 20px;
  
  align-items: center;
  gap: 8px;

  /* width: auto !important;
  height: auto !important;/
} 

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;

  margin: 0 !important;

  background-color: #02060a !important;

  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;

  opacity: 1;
} */

.swiper-pagination {
  position: static !important;

  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}

.swiper-pagination-bullet {
  background: #02060a !important;
  opacity: 0.2 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}


.about-btn.swiper-button-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.about-btn {
  display: flex;
  cursor: pointer;

  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease,
    transform 250ms ease;
}

.about-btn:hover {
  background-color: #f3f3f3;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-card {
  position: relative;
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
}

.about-controls {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}

.about-buttons {
  display: flex;
  gap: 12px;
}

.about-btn {
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;

  background-color: #eee9e3;

  transition: all 250ms ease;
}

.about-btn:hover,
.about-btn:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
  background-color: #eee9e3;
}

.about-btn:active {
  border: 1px solid rgba(2, 6, 10, 0.6);
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding: 64px 32px;
  }

  .slide-text {
    max-width: 548px;
  }

  .about-controls {
    display: block;
  }

  .about-buttons {
    position: relative;
    display: contents;
  }

  .about-btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    transform: translateY(-50%);
  }

  .about-prev {
    left: -30px;
  }

  .about-next {
    right: -30px;
  }

  .swiper {
    overflow: visible;
    position: static;
  }

  .swiper-pagination {
    margin-top: 24px;
    position: static !important;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .about-us {
    padding: 80px 64px;
  }

  .slide-text {
    font-size: 18px;
  }
}
