* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #f7f1ed;
    color: #02060a;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #fff;
}

.header_container {
    display: flex;
    align-items: center;

    max-width: 1440px;
    height: 72px;
    margin: 0 auto;
    padding: 0 80px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    margin-right: 32px;
}

.logo_icon {
    display: block;
    width: 112px;
    height: 48px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 32px;

    list-style: none;
}

.nav_item {
    display: flex;
}

.nav a {
    display: inline-block;
    color: #02060a;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition: border-color 250ms ease;
}

.nav a:hover,
.nav a:focus {
    border-bottom-color: #443b2e;
}

.nav a:active {
    border-bottom-color: #88765c;
}

.header_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 97px;
    height: 48px;
    padding: 12px 24px;

    margin-left: auto;

    border: 1px solid #88765c;
    border-radius: 8px;

    background-color: #88765c;
    color: #fff;

    text-decoration: none;
    cursor: pointer;

    transition:
        background-color 250ms ease,
        border-color 250ms ease;
}

.header_button:hover,
.header_button:focus {
    background-color: #c3b49d;
    border-color: #02060a;
}

.header_button:active {
    background-color: #eee9e3;
    border-color: #88765c;
}

.burger {
    display: none;
}