.hero-container {
  background-image: url(../img/hero-bg-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 64px 20px 115px;
  max-width: 375px;
  margin: 0 auto;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 24px;
  font-family: 'Open Sans' var(--second-family) sans-serif;
  text-align: left;
}
.hero-subtitle {
  font-family: 'IBM Plex Sans', var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 32px;
  text-align: left;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid var(--Color-Mariner-Dark, #88765c);
  background: var(--Color-Mariner-Dark, #88765c);
  border-radius: 8px;
  padding: 12px 24px;
  font-family: 'IBM Plex Sans', var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
}

@media screen and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../img/hero-bg-mobile@2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: url(../img/hero-bg-tablet.webp);
    padding: 64px 32px 235px;
    max-width: 768px;
  }

  .hero-title {
    max-width: 622px;
  }

  .hero-subtitle {
    max-width: 512px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../img/hero-bg-tablet@2x.webp);
    padding: 128px 64px 413px;
  }
}
@media screen and (min-width: 1336px) {
  .hero-container {
    background-image: url(../img/hero-bg-desktop.webp);
    max-width: 1440px;
  }
  .hero-title {
    font-size: 56px;
  }
  .hero-subtitle {
    font-size: 18px;
  }
  .button {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../img/hero-bg-desktop@2x.webp);
  }
}
