.hidden {
  display: none;
}
.pets-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

.pets-section {
  padding-bottom: 32px;
  padding-top: 64px;
}

.pets-subtitle {
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.5;
  text-align: center;
}

.categories {
  margin-bottom: 32px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

  padding: 0;
  margin: 0;
}

.category-btn {
  padding: 10px 16px;
  border: none;
  background-color: transparent;

  cursor: pointer;

  transition:
    background-color 250ms ease,
    color 250ms ease;
}

.category-btn.active {
  background-color: #eee9e3;

  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  font-weight: 500;
}

.pets-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}

.pet-card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  background-color: #eee9e3;
  padding: 12px;
}

.pet-img {
  width: 100%;
  aspect-ratio: 311 / 245;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
  display: block;
}

.category-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0;
  margin-bottom: 4px;
}
.category-tag {
  background-color: rgba(2, 6, 10, 0.05);
  padding: 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
}

.pet-name {
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.pet-species {
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 1.5;
}

.age-gender {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 1.5;
}

.pet-desc {
  font-size: 12px;
  line-height: 1.5;
}
.pet-content {
  margin-bottom: 16px;
}

.more-btn {
  border: 1px solid #02060a;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: transparent;
  cursor: pointer;
  margin-top: auto;

  transition: background 250ms ease;
}

.more-btn:hover,
.more-btn:focus {
  background-color: #c3b49d;
}
.more-btn:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: #c3b49d;
}

.load-more-btn {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  height: 45px;

  background-color: #88765c;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: background 250ms ease;
}
.load-more-btn:hover,
.load-more-btn:focus {
  background-color: #eee9e3;
  color: #02060a;
}

.load-more-btn:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.pets-pagination {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.pets-pagination.hidden {
  display: none;
}

.pets-pagination-list {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.pets-pagination-item {
  list-style: none;
}

.pets-pagination-btn {
  width: 40px;
  height: 40px;

  border: 1px solid #c3b49d;
  border-radius: 8px;
  background: #eee9e3;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #02060a;

  cursor: pointer;

  transition: all 250ms ease;
}
.pets-pagination-page {
  border-radius: 8px;
  padding: 12px 24px;
  width: 57px;
  height: 45px;
  border: none;
  background: none;
}
.pets-pagination-page.active {
  border: 1px solid #ababab;
  cursor: default;
}

.pets-pagination-btn:hover,
.pets-pagination-btn:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
  outline: none;
}

.pets-pagination-btn:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.pets-pagination-btn.is-active {
  background: #88765c;
  border-color: #88765c;
  color: #fff;
}

.pets-pagination-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  border: 1px solid #c3b49d;
  border-radius: 8px;
  background: #eee9e3;

  cursor: pointer;

  transition: all 250ms ease;
}

.pets-pagination-arrow:hover,
.pets-pagination-arrow:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
  outline: none;
}

.pets-pagination-arrow:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.pets-pagination-arrow:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.pets-pagination-arrow svg {
  width: 24px;
  height: 24px;

  fill: none;
  stroke: currentColor;
}

#load-more-btn {
  display: block;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .pet-card {
    width: calc((100% - 32px) / 2);
  }
  .pet-img {
    height: 245px;
  }

  .load-more-btn {
    display: block;
    max-width: 335px;
    margin: 0 auto;
  }
  #load-more-btn {
    display: none;
  }
  .pets-pagination {
    display: flex;
  }
}
/*Desktop*/

@media screen and (min-width: 1440px) {
  .pet-card {
    width: calc((100% - 64px) / 3);
    min-height: 512px;
  }
  .pet-species {
    font-size: 12px;
  }
  .pet-name {
    font-size: 24px;
  }
  .category-tag {
    font-size: 12px;
  }
  .age-gender {
    font-size: 12px;
  }
  .pet-desc {
    font-size: 14px;
  }
  .category-tag-list {
    margin-bottom: 46px;
  }

  .pet-img {
    height: 245px;
  }
  .load-more-btn {
    max-width: 192px;
  }
}
